:root {
  /* --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem); */

  --level-one: translateZ(4rem);
  --level-two: translateZ(8rem);
  --level-three: translateZ(12rem);
  
  /* --level-one: translateZ(6rem);
  --level-two: translateZ(12rem);
  --level-three: translateZ(18rem); */

  --fw-normal: 400;
  --fw-bold: 700;
  
  /* --clr: #b7c9e5; */
  /* --clr: hsl(0, 0%, 11%); */
  --clr: hsl(205, 74%, 76%);

  /* #C4DBF6 */
  /* #E7E3D4 */
  /* #3B8BEB */
/* #B23850 */

  --winclr: green;
  --loseclr: #fc4444;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr);
  font-family: 'Oswald', sans-serif;
}

.asdf {
  /* color: transparent; */
  height: 10em;
  /* transform: translateY(5rem); */
  margin: 0;
  /* position: relative; */
  /* position: static; */
  /* background-color: hsl(0, 0%, 0%, 20%);
  background-color: hsl(360, 0%, 100%, 20%); */
  background-color: hsl(205, 74%, 76%);
  padding: 0;
  /* background-color: red; */
}
.answer-result {
  /* padding-top: .7em; */
 
  align-self: top;
  /* margin-bottom: 5em;
  height: 6em;
  padding-bottom: 5em; */
  /* transform: translateY(-5em); */
  text-align: left;
  /* background-color: blueviolet; */
}

#my-answer-result {
  /* background-color: #b2384f; */
  background-color: #fc4444;
}

.my-title {
  margin-left: 50px;
  margin-right: 50px;
}

#info, #exit {
  width: 50%;
  display: inline-block;
}
#info {
  transform: translateX(-39px);
}
#exit {
  align-items: right;
  text-align: right;
  transform: translateX(39px);
}

.card {
  width: 800px;
  /* pointer-events: none; */
}




.card__content {
    /* AND HERE */
    text-align: center;
    position: relative;
    /* !!! HEIGHT OF BORDERED AREA - CHANGE HERE */
    /* padding: 10em 5em; */
    padding-top: 10em;
    padding-bottom: 10em;
    padding-left: 1em;
    padding-right: 1em;
    
    transition: transform 600ms;
    transition-timing-function: ease-in-out;
    background-color: var(--clr);
    border-radius: 30px;
    transform-style: preserve-3d;
    /* height: 480px; */
}

/* .card:active  */

/* .card__content {

  transform: rotateX(.5turn);

} */

/* .my__border:active {
    border-color: green; */



    /* -webkit-transition: border-color 400ms linear;
    -ms-transition: border-color 400ms linear;
    transition: border-color 400ms linear; */



    /* -webkit-transition: border-color 100ms linear;
    -ms-transition: border-color 100ms linear;
    transition: border-color 100ms linear;
} */

/* .my__border  */

.card__front,
.card__back {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 5em 3em; */
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* HERE HERE HERE!!!!! */
  display: grid;
  align-content: center;
}

.card__front {
  
  /* color: #333; */
  /* color: white; */
}

.card__front::before {
  content: '';
  position: absolute;
  /* --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer); */
  /* border: 3px solid currentColor; */
  /* border-radius: 10px; */
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  /* order: 2; */
  /* transform: translateY(-200px); */
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.my__border {
    border: 5px solid #333;
    /* border-radius: 10px; */
    /* pointer-events: none; */

}

.card__back {
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    transform: rotateX(.5turn);
    /* transform: rotateY(.5turn);   */
}


.my-title {
    background-color: #C4DBF6;
    margin-bottom: 30px;
    padding: 20px;
}

.next-button-space {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #C4DBF6;
    padding: 20px;
    float: right;
}


body {
  /* background-color: #161616; */
  background-color: hsl(0, 0%, 9%);
  background-color: #3eefe5;
  background-color: #1f1f1f;
  background-color: hsl(162, 36%, 63%);

}

.my__border {
  border-color: hsl(212, 82%, 59%);
  /* border-color: hsl(349, 52%, 46%); */
  border-color: hsl(171, 47%, 48%);
  border-color: hsl(171, 48%, 27%);
}

#answer-result1{
  /* background-color: hsl(178, 84%, 59%); */
  background-color: hsl(187, 52%, 56%);
}

#answer-result2 {
  background-color: pink;
}

.asdf {
  background-color: hsl(16, 100%, 59%);
  background-color: hsl(0, 97%, 63%);
  background-color: #6b6b6b;
  background-color: hsl(162, 36%, 63%);
  background-color: hsl(161, 100%, 38%);
  color: #b7b7b7;
}

.card__content {
  background-color: #333333;
  background-color: #1f1f1f;
  background-color: hsl(162, 36%, 63%);
  border-radius: 0;
  color: #b7b7b7;
  color: #e6e3d4;
  background-color: hsl(171, 100%, 30%);
  /* color: #ffffff; */
  /* background-color: hsl(0, 0%, 9%); */
}

.my-title, .next-button-space {
  
background-color: hsl(0, 0%, 9%);
background-color: #1f1f1f;;
background-color: hsl(162, 36%, 63%);
color: hsl(349, 52%, 46%);
}

.submit-button {
  background-color: transparent;
  border-width: 5px;
  border-color: hsl(212, 82%, 59%);
  color: hsl(212, 82%, 59%);
  border-color: hsl(171, 47%, 48%);
  border-color: hsl(171, 48%, 27%);
  color: hsl(171, 47%, 48%);
  color: hsl(171, 48%, 27%);
  padding: 5px;
  font-size: 20px;
  box-shadow: none;
}

#submit-button2 {
  background-color: transparent;
  border-width: 5px;
  border-color: hsl(212, 82%, 59%);
  color: hsl(212, 82%, 59%);
  border-color: hsl(171, 47%, 48%);
  border-color: #c38d9d;
  color: hsl(171, 47%, 48%);
  color: #c38d9d;
  padding: 5px;
  font-size: 20px;
  box-shadow: none;
}