*, *::before, *::after {
    box-sizing: border-box;
    font-family: Open Sans;
}

body {
    background-color: #008CBA;
    color: white;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}

 /* {
    width: 50%;
    background-color: grey;
    margin: auto;
    margin-top: 20px;
    padding: 3%;
    border-radius: 10px;
    
    border: 2px solid;
} */




#player-progress {
    /* position: fixed; */
    margin-top: 50px;
    /* padding-top: 50px; */
    font-size: 1.45rem;
    /* background-color: #9d63b0; */
    /* background-color: hsl(250, 100%, 83%, 50%); */
    /* background-color: hsl(285, 100%, 36%, 20%); */
    background-color: hsl(315, 100%, 36%, 20%);
    border-radius: 20px;
    /* width: 95%; */
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10px;
}
#back {
    position: fixed;
    right: 7%;
}

#instructions-question {
    padding-left: 5%;
    padding-right: 5%;
}

ul.lives-score {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

#your-lives {
    /* position: fixed;
    left: 50%;
    transform: translateX(-50%); */
    color: #a91409;
}
#information {
    position: fixed;
    left: 7%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
#result-heading {
    margin: 0;
}
#result-body {
    margin: 3px;
}

#live-and-score {
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
}

#lesson-title {
    /* display: none; */
    /* padding-top: 80px; */
}

#title-of-lesson {
    text-align: center;
}

#game {
    width: 100vw;
    background-color: #008CBA;
    margin: 0;
    padding: 2%;
    border-radius: 10px;    
}

#game {
    min-height: 500px;
    height: 60vh;
}

#instructions {
    /* margin-top: 30px; */
    margin-bottom: 0;
    font-size: 0.85rem;
    font-style: italic;
}
#question {
    margin-top: 0;
    padding-top: 0;
}



#lesson-title {
    font-size: 1rem;
    color: #222222;
}

#game {
    min-height: 400px;
}



#lesson-title {
    margin-top: 0;
}

#result-section {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: red;
    animation: fadeIn .35s;
    justify-content: space-between;
    display: none;
    
}

#result-writing {
    width: 69%;
    padding: 6px 0 8px 8px;
    /* padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 1%; */
}
#go-to-next-question {
    width: 30%;
}



/* #go-to-next-question {
    width: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: red;
    animation: fadeIn .35s;
    display: none;
} */

#game-over {
    display: none;
}

#next-question {
    /* float: right; */
    margin-top: 20px;
    margin-right: 20px;
    /* margin: auto; */
    display: none;
    color: pink;
    /* padding: 16px 0 16px 0; */
    width: 90%;
    background-color: transparent;
    text-align: center; 
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 9px;
    border: 3px solid;
    padding: 10px 0 10px 30%;

}

.answer-btn {
    background-color: #008CBA; /* Note: if you change this, you also need to do so in the JS file, nextQuestion function */
    /* border: none; */
    color: white;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 9px;
    border: 3px solid;
    padding: 10px;
  }
/* .answer-btn:hover {
    background-color: #0082ad;
} */
/* .answer-btn:active {
    background-color: #70dbff;
    border-color: #70dbff;
} */

    /* color: #3d8c40; */
    /* color: #8bc34a; */
    /* color: #87CEEB; */
    /* color: #2196F3; */
    /* color: #00bcd4; */
    /* color: #f1f1f1; */
    /* color: #616161; */
    /* color: #f44336; */
    /* color: #3d8c40; */
    /* color: #0a6ab6; */
    /* color: #202324; */
    /* color: #181a1b; */
    /* color: #047a4e; */


#go-back-btn {
    display: none;
}

#exit:hover, #lesson-info:hover {
    opacity: 0.6;
}

@media (min-width: 768px) {
 




/* TODO: fix */
    #game, #result-section {
        width: 50%;
        background-color: grey;
        margin: auto;
        margin-top: 20px;
        padding: 3%;
        border-radius: 10px;
        
        border: 2px solid;
    }










    #lesson-title {
        font-size: 1.5rem;
    }
    

}