*, *::before, *::after {
    box-sizing: border-box;
    font-family: Open Sans;
}
body {
    background-color: #008CBA;
    color: white;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}
#player-progress {
    margin-top: 40px;
    font-size: 1.45rem;
    background-color: hsl(315, 100%, 36%, 20%);
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10px;
}
#back {
    position: fixed;
    right: 7%;
}
#instructions-question {
    padding-left: 5%;
    padding-right: 5%;
}
ul.lives-score {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
#your-lives {
    color: #a91409;
}
#information {
    position: fixed;
    left: 7%;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
#result-heading {
    margin: 0;
}
#result-body {
    margin: 3px;
}

#live-and-score {
    display: flex;
    justify-content: space-evenly;
}

#title-of-lesson {
    text-align: center;
}

#game {
    width: 100vw;
    background-color: #008CBA;
    margin: 0;
    padding: 2%;
    border-radius: 10px;    
}

#instructions {
    margin-bottom: 0;
    font-size: 0.85rem;
    font-style: italic;
}
#question {
    margin-top: 0;
    padding-top: 0;
}



#lesson-title {
    font-size: 1rem;
    color: #222222;
}

#lesson-title {
    margin-top: 0;
}

#result-section {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: red;
    animation: fadeIn .35s;
    justify-content: space-between;
    display: none;
    
}

#result-writing {
    width: 69%;
    padding: 6px 0 8px 8px;
}
#go-to-next-question {
    width: 30%;
    vertical-align: middle;
    display: flex;
    justify-content: right;
}

#game-over {
    display: none;
}

#next-question {
    /* float: right; */
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    /* margin: auto; */
    display: none;
    color: hsl(0, 0%, 100%, 100%);
    /* color: black; */
    /* padding: 16px 0 16px 0; */
    /* width: 90%; */
    background-color: hsl(0, 0%, 0%, 15%);

    font-size: 16px;
    border-radius: 9px;
    border: 3px solid;
    padding: 10px 30% 10px 30%;

}

.answer-btn {
    background-color: #008CBA; /* Note: if you change this, you also need to do so in the JS file, nextQuestion function */
    /* border: none; */
    color: white;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 9px;
    border: 3px solid;
    padding: 10px;
  }
/* .answer-btn:hover {
    background-color: #0082ad;
} */
/* .answer-btn:active {
    background-color: #70dbff;
    border-color: #70dbff;
} */


#go-back-btn {
    display: none;
}

#exit:hover, #lesson-info:hover {
    opacity: 0.6;
}

@media (min-width: 576px) {
    .answer-btn {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    #next-question {
        margin-right: 25px;
    }
    #result-writing {
        margin-left: 25px;
    }
}

@media (min-width: 768px) {
    body {
        background-color: #222222;
    }
    #back {
        right: calc(50% - 365px);
    }
    #information {
        left: calc(50% - 366px);
    }
    .answer-btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* TODO: fix */
    #game {
        max-width: 768px;
        margin: auto;
        margin-top: 20px;
        padding: 30px;
        border-radius: 10px;
        
        border: 2px solid;
    }

    #lesson-title {
        font-size: 1.3rem;
    }
    
    #next-question {
        margin-right: 28%;
    }
    #result-writing {
        margin-left: 11%;
    }



}

@media (min-width: 1300px) {
    #next-question {
        margin-right: 40%;
        /* margin-right: calc(100px + 5%); */
    }
    #result-writing {
        margin-left: 20%;
    }
}