<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/json-test.css" rel="stylesheet">
    <script defer src="/static/json-test.js"></script>


    <title>Document</title>
</head>
<body>
<button id="show-question">Show Question</button>
<p id="the-question"></p>
<button id="show-answer">Show Answer</button>
<p id="the-answer"></p>
</body>
</html>