<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/json-test.css" rel="stylesheet">
    <script defer src="/static/json-test.js"></script>


    <title id="page-title">Matthew Moonen</title>
</head>
<body>

    
    
    <h1 id="lesson-title"></h1>
    <button onclick="begin()" id="begin">Begin</button>

<div id="the-question"></div>
<div id="mult-choice-btns">
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn0" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn1" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn2" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn3" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn4" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn5" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn6" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn7" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn8" class="multi-choice-btn"></button>
    <button onclick="checkAnswer(this.id)" id="multi-choice-btn9" class="multi-choice-btn"></button>
</div>
<div id="correct-answer">That's right!</div>
<div id="incorrect-answer">Sorry, that's wrong.</div>
<button onclick="showQuestion()" id="show-next-question">Show Next Question</button>
</body>
</html>