<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/json-test.css" rel="stylesheet">
    <script defer src="/static/json-test.js"></script>


    <title id="page-title">Matthew Moonen</title>
</head>
<body>

    <nav id="navigate-and-info" style="display: none;">
        <div id="back">
            <svg class="exit" id="exit" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </div>
        <div id="information">
            <svg id="lesson-info" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
        </div>
    </nav>
    
    <h1 id="lesson-title"></h1>
    <button style="display: none;" onclick="begin()" id="begin">Begin</button>


    <div id="points-and-lives" style="display: none;">
        <div id="your-points"></div>
        <div id="your-lives"></div>
    </div>

<div id="question-and-answer" style="display: none;">
<div id="the-question"></div>
<div id="mult-choice-btns">
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn0" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn1" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn2" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn3" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn4" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn5" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn6" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn7" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn8" class="multi-choice-btn"></button>
    <button onclick="checkMultiChoiceAnswer(this.id)" id="multi-choice-btn9" class="multi-choice-btn"></button>
    <button onclick="showQuestion()" id="show-next-question">Show Next Question</button>
</div>
</div>

<div id="correct-answer" style="display: none;">That's right!</div>
<div id="incorrect-answer" style="display: none;">Sorry, that's wrong.</div>

<div id="show-result" style="display: none;">
    <div id="your-result"></div>
    <button id="play-again-btn" onClick="window.location.reload();">Play Again</button>
            <!-- TODO: FIX -->
    <button id="go-back-btn" style="display: none;" onclick="window.location.href='/code';">Go Back</button>
</div>

</body>
</html>